<ul class="list-group">
    <li class="list-group-item list-group-item-success">Sepetiniz</li>
    <li class="list-group-item" *ngFor="let product of products$ | async | cart">
        <p>{{product?.name}}</p>
        <div class="row" style="text-align: right;">
                <div class="btn-group" role="group" aria-label="Second group">
                    <button type="button" class="btn btn-default" (click)="delete(product)"><b>-</b></button>
                    <button type="button" class="btn btn-default" disabled><b [innerText]="product?.quantity"></b></button>
                    <button type="button" class="btn btn-default" (click)="add(product)"><b>+</b></button>
                    <button type="button" class="btn btn-danger" (click)="remove(product?.id)"><b>x</b></button>
                </div>
            </div>
    </li>
</ul>